@page
@model New_Harbinger.Pages.Characters.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    var firstSort ="first_asc";
                    if (Model.CurrentSort == "first_asc")
                    {
                        firstSort ="first_desc";
                    }
                }
                @Html.DisplayNameFor(model => model.Character[0].Name)
            </th>
            <th>
               <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.Character[0].Species)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Affiliation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Character) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Affiliation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CharacterId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CharacterId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CharacterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr />
@{
    var prevDisabled="";
    if (Model.PageNum <= 1)
    {
      prevDisabled ="disabled";  
    }
    var nextDisabled="";
    if (Model.PageNum >= 3)
    {
        nextDisabled ="disabled";
    }

}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item @prevDisabled"><a class="page-link" asp-page ="./Index" asp-route-PageNum="@(Model.PageNum -1)">Previous</a></li>
    <li class="page-item @nextDisabled"><a class="page-link" asp-page ="./Index" asp-route-PageNum="@(Model.PageNum +1)">Next</a></li>
  </ul>
</nav>
